
.form {
  max-width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
  background-color: #7c53c3;
  color: #fff;
}

.formgroup {
  margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

.input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 15px;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25);
  border-color: #80bdff;
}

.button {
  display: inline-block;
font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
  background-color: #d34bb5;
  color: #fff;
  border-color: #7c53c3;
  margin-top: 1rem;
  border-radius: 15px;
}

.button:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #6105fe, #ff5fe7);
  border-color: #6a3cbc;
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.p:hover {
  cursor: pointer;
  color: rgb(41, 80, 255);
}


@media (max-width: 767px) {
  .form {
    padding: 10px;
  }

  .label {
    font-size: 1rem;
  }

  .button {
    font-size: 1rem;
  }
}
