.landing-page {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* SECTION 1 */
#section1 {
    background-image: url('../../public/Backgrounds.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    max-width: 100%;
    color: white;
}
#section1 .main-text {
    padding-top: 8rem;
    padding-left: 2rem;
}
.main-text h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
}
.main-text span {
    color: #e50afe;
}
#section1 .best-game {
    flex-flow: row;
    flex-wrap: nowrap;
}
.main-text p {
    font-family: Helvetica;
    font-weight: 100;
    letter-spacing: 0.1px;
    width: 420px;
    margin-bottom: 5rem;
}
.play-btn {
    color: white;
    background-image: linear-gradient(to right, #6105fe, #ff5fe7);
    border: 0;
    border-radius: 17px;
    width: 7.5rem;
    height: 2.2rem;
    font-size: 14px;
    margin-right: 1rem;
    cursor: pointer;
}
.play-btn:hover {
    color: #6105fe;
    background-image: linear-gradient(to right,white, white);
    transform: scale(1.25);
}
.explore-btn {
    color: white;
    background-color: #230d39;
    border: 0.5;
    border-color: #6105fe;
    border-radius: 17px;
    width: 7.5rem;
    height: 2.2rem;
    font-size: 14px;
    padding: 0rem 0rem;
}
.explore-btn:hover {
    color:white;
    background-color: #ff5fe7 ;
    border: 0;
    transform: scale(1.25);
}

@media screen and (min-width: 320px) {
    .main-text h1 {
        font-size: 32px;
    }
    .main-text p {
        font-size: 12px;
        width: 200px;
        margin-top: 1rem;
    }
    .play-btn {
        font-size: 12px;
        margin-bottom: 1rem;
        margin-right: 2rem;
    }
    .explore-btn {
        font-size: 12px;
    }
}
@media screen and (min-width: 375px) {
    .main-text h1 {
        font-size: 36px;
    }
    .main-text p {
        font-size: 12px;
        width: 250px;
        margin-top: 1rem;
    }

}
@media screen and (min-width: 425px) {
    #section1 .main-text {
        padding-top: 10rem;
    }
    .main-text h1 {
        font-size: 40px;
    }
    .main-text p {
        font-size: 12px;
        width: 300px;
        margin-top: 1rem;
    }
    .play-btn {
        font-size: 14px;
        margin-right: 1rem;
    }
    .explore-btn {
        font-size: 14px;
    }
}
@media screen and (min-width: 768px) {
    #section1 .main-text {
        padding-left: 3rem;
    }
    .main-text p {
        font-size: 14px;
        width: 300px;
    }
}
@media screen and (min-width: 1024px) {
    #section1 .main-text {
        padding-left: 6rem;
        padding-top: 10rem;
    }
    .main-text h1 {
        font-size: 48px;
    }
}
@media screen and (min-width: 1200px) {
    #section1 .main-text {
        padding-left: 6.5rem;
        padding-top: 11rem;
    }
    .main-text h1 {
        font-size: 52px;
    }
    .main-text p {
        font-size: 16px;
        width: 430px;
        margin-top: 1.5rem;
    }
    .play-btn {
        font-size: 14px;
        margin-right: 2rem;
    }
}
@media screen and (min-width: 1440px) {
    #section1 .main-text {
        padding-left: 8rem;
        padding-top: 15rem;
    }
    .main-text h1 {
        font-size: 64px;
    }
    .main-text p {
        font-size: 18px;
        width: 480px;
    }
    .purple-text {
        margin-left: 6rem;
    }
}
