/* Table Styles */
.title {
  text-align: center;
}

.fl_table {
  border-radius: 5px;
  font-size: 14px;
  font-weight: normal;
  width: 50%;
  max-width: 100%;
  background-color: rgb(248, 248, 248);
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.fl_table .td,
.fl_table .th {
  text-align: center;
  padding: 80px;
  border: 1px solid #324960;
}

.fl_table .td {
  font-size: 12px;
}

.fl_table .thead .th {
  color: #ffffff;
  background: #324960;
}
